<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redapplenet.cloud.util.dao.CityPairMapper">
    <resultMap id="BaseResultMap" type="com.redapplenet.cloud.util.entity.CityPair">
        <id column="CITY_PAIR_ID" property="CITY_PAIR_ID" jdbcType="VARCHAR"/>
        <result column="AIR_CODE" property="AIR_CODE" jdbcType="VARCHAR"/>
        <result column="FLT_NUM" property="FLT_NUM" jdbcType="VARCHAR"/>
        <result column="FLT_TYPE" property="FLT_TYPE" jdbcType="VARCHAR"/>
        <result column="DEPT_CODE" property="DEPT_CODE" jdbcType="VARCHAR"/>
        <result column="DEPT_NAME" property="DEPT_NAME" jdbcType="VARCHAR"/>
        <result column="DEPT_AIR" property="DEPT_AIR" jdbcType="VARCHAR"/>
        <result column="DEPT_AIR_TERMINAL" property="DEPT_AIR_TERMINAL" jdbcType="VARCHAR"/>
        <result column="DEPT_TIME" property="DEPT_TIME" jdbcType="VARCHAR"/>
        <result column="ARRI_CODE" property="ARRI_CODE" jdbcType="VARCHAR"/>
        <result column="ARRI_NAME" property="ARRI_NAME" jdbcType="VARCHAR"/>
        <result column="ARRI_AIR" property="ARRI_AIR" jdbcType="VARCHAR"/>
        <result column="ARRI_AIR_TERMINAL" property="ARRI_AIR_TERMINAL" jdbcType="VARCHAR"/>
        <result column="ARRI_TIME" property="ARRI_TIME" jdbcType="VARCHAR"/>
        <result column="STOP_OVER_CITY" property="STOP_OVER_CITY" jdbcType="VARCHAR"/>
        <result column="STOP_OVER_AIR" property="STOP_OVER_AIR" jdbcType="VARCHAR"/>
        <result column="STOP_OVER_AIR_NAME" property="STOP_OVER_AIR_NAME" jdbcType="VARCHAR"/>
        <result column="STOP_OVER_ARRI_TIME" property="STOP_OVER_ARRI_TIME" jdbcType="VARCHAR"/>
        <result column="STOP_OVER_DEPT_TIME" property="STOP_OVER_DEPT_TIME" jdbcType="VARCHAR"/>
        <result column="STOP_OVER_MIN" property="STOP_OVER_MIN" jdbcType="VARCHAR"/>
        <result column="SHARE_CODE" property="SHARE_CODE" jdbcType="VARCHAR"/>
        <result column="FLT_SCHEDULE" property="FLT_SCHEDULE" jdbcType="VARCHAR"/>
        <result column="START_DATE" property="START_DATE" jdbcType="VARCHAR"/>
        <result column="END_DATE" property="END_DATE" jdbcType="VARCHAR"/>
        <result column="SALE_DATE" property="SALE_DATE" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="CREATE_DATE" jdbcType="VARCHAR"/>
        <result column="CITY_STATUS" property="CITY_STATUS" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        CITY_PAIR_ID, AIR_CODE, FLT_NUM, FLT_TYPE, DEPT_CODE, DEPT_NAME, DEPT_AIR, DEPT_AIR_TERMINAL,
        DEPT_TIME, ARRI_CODE, ARRI_NAME, ARRI_AIR, ARRI_AIR_TERMINAL, ARRI_TIME, STOP_OVER_CITY,
        STOP_OVER_AIR, STOP_OVER_AIR_NAME, STOP_OVER_ARRI_TIME, STOP_OVER_DEPT_TIME, STOP_OVER_MIN,
        SHARE_CODE, FLT_SCHEDULE, START_DATE, END_DATE, SALE_DATE, CREATE_DATE, CITY_STATUS
    </sql>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into CITY_PAIR (
        CITY_PAIR_ID,AIR_CODE,FLT_NUM,FLT_TYPE,DEPT_CODE,DEPT_NAME,
        DEPT_AIR,DEPT_AIR_TERMINAL,DEPT_TIME,ARRI_CODE,ARRI_NAME,ARRI_AIR,
        ARRI_AIR_TERMINAL,ARRI_TIME,STOP_OVER_CITY,STOP_OVER_AIR,STOP_OVER_AIR_NAME,
        STOP_OVER_ARRI_TIME,STOP_OVER_DEPT_TIME,STOP_OVER_MIN,SHARE_CODE,FLT_SCHEDULE,
        START_DATE,END_DATE,SALE_DATE,CREATE_DATE,CITY_STATUS
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.CITY_PAIR_ID}, #{item.AIR_CODE}, #{item.FLT_NUM},
            #{item.FLT_TYPE}, #{item.DEPT_CODE}, #{item.DEPT_NAME},
            #{item.DEPT_AIR}, #{item.DEPT_AIR_TERMINAL}, #{item.DEPT_TIME},
            #{item.ARRI_CODE}, #{item.ARRI_NAME}, #{item.ARRI_AIR},
            #{item.ARRI_AIR_TERMINAL}, #{item.ARRI_TIME}, #{item.STOP_OVER_CITY},
            #{item.STOP_OVER_AIR},#{item.STOP_OVER_AIR_NAME}, #{item.STOP_OVER_ARRI_TIME}, #{item.STOP_OVER_DEPT_TIME},
            #{item.STOP_OVER_MIN}, #{item.SHARE_CODE}, #{item.FLT_SCHEDULE},
            #{item.START_DATE}, #{item.END_DATE}, #{item.SALE_DATE},
            #{item.CREATE_DATE}, #{item.CITY_STATUS}
            )
        </foreach>
    </insert>
    <select id="queryCityPairByCondition" parameterType="com.redapplenet.cloud.util.dto.CityPairQuery"
            resultType="java.lang.String">
        select CITY_PAIR_ID from city_pair
        WHERE DEPT_CODE = #{deptCode} and ARRI_CODE = #{arriCode}
        and FLT_NUM = #{fltNum} and ((START_DATE &lt;= #{effectivedate} and END_DATE &gt;= #{effectivedate})
        OR (START_DATE &lt;= #{expirationdate} and END_DATE &gt;= #{expirationdate}) )
    </select>
</mapper>
