<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redapplenet.cloud.util.dao.OtaApiRoleInterfaceMapper" >
  <resultMap id="BaseResultMap" type="com.redapplenet.cloud.util.entity.OtaApiRoleInterface" >
    <id column="relation_id" property="relation_id" jdbcType="VARCHAR" />
    <result column="role_id" property="role_id" jdbcType="VARCHAR" />
    <result column="interface_id" property="interface_id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    relation_id, role_id, interface_id
  </sql>
</mapper>
